/**
 *
 * Style for Document
 *
 * @author Takuto Yanagida
 * @version 2021-12-26
 *
 */


@use '../src/sass/_utility';

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	scroll-behavior   : smooth;
	scroll-padding-top: 8rem;

	font-family: sans-serif;
	line-height: 1.8;
}

header,
main {
	margin-inline: auto;
	width : min(calc(100% - 2vw), 48rem);
}

header {
	position  : sticky;
	top       : 0;
	z-index   : 1;
	min-height: 6rem;

	border          : 1px solid #ddd;
	background-color: rgba(#fff, 0.5);
	backdrop-filter : blur(4px);
}

main {
	margin-top: 2rem;
}


// -----------------------------------------------------------------------------


hr {
	margin-block: 2rem;
}

div.blank {
	margin-block    : 2rem;
	height          : 20vh;
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 6px, #defa 6px, #defa 12px);
}

.col-2 {
	display: grid;
	gap    : 1rem;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	> * { margin: 0; }
}

.width-query,
.height-query,
.browser-query {
	padding: 0.25rem 0.5rem;
	border: 1px solid rgba(gray, 0.25);
}

div + div {
	margin-top: 1rem;
}

.width-query {
	&.phone-up {
		@include utility.for-phone-up              { border: 2px solid red; }
	}
	&.phone-only {
		@include utility.for-phone-only            { border: 2px solid red; }
	}
	&.phone-portrait-up {
		@include utility.for-phone-portrait-up     { border: 2px solid red; }
	}
	&.phone-portrait-only {
		@include utility.for-phone-portrait-only   { border: 2px solid red; }
	}
	&.phone-landscape-up {
		@include utility.for-phone-landscape-up    { border: 2px solid red; }
	}
	&.phone-landscape-only {
		@include utility.for-phone-landscape-only  { border: 2px solid red; }
	}
	&.tablet-up {
		@include utility.for-tablet-up             { border: 2px solid red; }
	}
	&.tablet-only {
		@include utility.for-tablet-only           { border: 2px solid red; }
	}
	&.tablet-portrait-up {
		@include utility.for-tablet-portrait-up    { border: 2px solid red; }
	}
	&.tablet-portrait-only {
		@include utility.for-tablet-portrait-only  { border: 2px solid red; }
	}
	&.tablet-landscape-up {
		@include utility.for-tablet-landscape-up   { border: 2px solid red; }
	}
	&.tablet-landscape-only {
		@include utility.for-tablet-landscape-only { border: 2px solid red; }
	}
	&.desktop-up {
		@include utility.for-desktop-up            { border: 2px solid red; }
	}
	&.desktop-only {
		@include utility.for-desktop-only          { border: 2px solid red; }
	}
	&.big-desktop-up {
		@include utility.for-big-desktop-up        { border: 2px solid red; }
	}
	&.big-desktop-only {
		@include utility.for-big-desktop-only      { border: 2px solid red; }
	}
}

.height-query {
	&.tiny-height-up {
		@include utility.for-tiny-height-up     { border: 2px solid red; }
	}
	&.tiny-height-only {
		@include utility.for-tiny-height-only   { border: 2px solid red; }
	}
	&.small-height-up {
		@include utility.for-small-height-up    { border: 2px solid red; }
	}
	&.small-height-only {
		@include utility.for-small-height-only  { border: 2px solid red; }
	}
	&.medium-height-up {
		@include utility.for-medium-height-up   { border: 2px solid red; }
	}
	&.medium-height-only {
		@include utility.for-medium-height-only { border: 2px solid red; }
	}
	&.large-height-up {
		@include utility.for-large-height-up    { border: 2px solid red; }
	}
	&.large-height-only {
		@include utility.for-large-height-only  { border: 2px solid red; }
	}
}

.browser-query {
	&.chrome {
		@include utility.for-chrome  { border: 2px solid red; }
	}
	&.firefox {
		@include utility.for-firefox { border: 2px solid red; }
	}
	&.safari {
		@include utility.for-safari  { border: 2px solid red; }
	}
}


// -----------------------------------------------------------------------------


*[class ^='layout-'] {
	border: 1px dashed blue;
	> div, span {
		background-color: rgba(red, 0.5);
		border: 4px solid pink;
		margin: 0;
	}
	> span {
		display: inline-block;
	}
}

.height-spacer {
	height: 6rem;
}

.col-2 {
	display: grid;
	gap    : 2rem;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	> * { margin: 0; }
}


// -----------------------------------------------------------------------------


.layout-fill-self-wrap {
	position: relative;
}

.layout-full-width {
	@include utility.full-width(1rem);
}

.layout-centering {
	@include utility.centering;
}

.layout-centering-self {
	@include utility.centering-self(true, true, relative);
}

.layout-fill-self {
	@include utility.fill-self;
}

.layout-side-margin {
	@include utility.side-margin(40rem, 1rem);
}

.layout-aspect {
	@include utility.aspect(3, 1);
}

.layout-frame-contain {
	@include utility.frame-contain(3, 2);
}

.layout-wrap {
	@include utility.wrap((1rem 2rem));
}

.layout-column-2 {
	@include utility.column(2, 2rem);
}

.layout-column-3 {
	@include utility.column(3, 2rem);
}

.layout-column-4 {
	@include utility.column(4, 2rem);
}
