@import "../src/sass/_query.scss";

html {
	scroll-behavior   : smooth;
	scroll-padding-top: 8rem;

	font-family: sans-serif;
	line-height: 1.75;
}

header,
main {
	margin-inline: auto;
	width : min(calc(100% - 2vw), 48rem);
}

header {
	position  : sticky;
	top       : 0;
	z-index   : 1;
	min-height: 6rem;

	border          : 1px solid #ddd;
	background-color: rgba(#fff, 0.5);
	backdrop-filter : blur(4px);
}

main {
	margin-top: 2rem;
}

hr {
	margin-block: 2rem;
}

div.blank {
	margin-block    : 2rem;
	height          : 20vh;
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 6px, #defa 6px, #defa 12px);
}

.col-2 {
	display: grid;
	gap    : 1rem;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	> * { margin: 0; }
}

.width-query,
.height-query,
.browser-query {
	padding: 0.25rem 0.5rem;
	border: 1px solid rgba(gray, 0.25);
}

div + div {
	margin-top: 1rem;
}

.width-query {
	&.phone-up {
		@include for-phone-up              { border: 2px solid red; }
	}
	&.phone-only {
		@include for-phone-only            { border: 2px solid red; }
	}
	&.phone-portrait-up {
		@include for-phone-portrait-up     { border: 2px solid red; }
	}
	&.phone-portrait-only {
		@include for-phone-portrait-only   { border: 2px solid red; }
	}
	&.phone-landscape-up {
		@include for-phone-landscape-up    { border: 2px solid red; }
	}
	&.phone-landscape-only {
		@include for-phone-landscape-only  { border: 2px solid red; }
	}
	&.tablet-up {
		@include for-tablet-up             { border: 2px solid red; }
	}
	&.tablet-only {
		@include for-tablet-only           { border: 2px solid red; }
	}
	&.tablet-portrait-up {
		@include for-tablet-portrait-up    { border: 2px solid red; }
	}
	&.tablet-portrait-only {
		@include for-tablet-portrait-only  { border: 2px solid red; }
	}
	&.tablet-landscape-up {
		@include for-tablet-landscape-up   { border: 2px solid red; }
	}
	&.tablet-landscape-only {
		@include for-tablet-landscape-only { border: 2px solid red; }
	}
	&.desktop-up {
		@include for-desktop-up            { border: 2px solid red; }
	}
	&.desktop-only {
		@include for-desktop-only          { border: 2px solid red; }
	}
	&.big-desktop-up {
		@include for-big-desktop-up        { border: 2px solid red; }
	}
	&.big-desktop-only {
		@include for-big-desktop-only      { border: 2px solid red; }
	}
}

.height-query {
	&.tiny-height-up {
		@include for-tiny-height-up     { border: 2px solid red; }
	}
	&.tiny-height-only {
		@include for-tiny-height-only   { border: 2px solid red; }
	}
	&.small-height-up {
		@include for-small-height-up    { border: 2px solid red; }
	}
	&.small-height-only {
		@include for-small-height-only  { border: 2px solid red; }
	}
	&.medium-height-up {
		@include for-medium-height-up   { border: 2px solid red; }
	}
	&.medium-height-only {
		@include for-medium-height-only { border: 2px solid red; }
	}
	&.large-height-up {
		@include for-large-height-up    { border: 2px solid red; }
	}
	&.large-height-only {
		@include for-large-height-only  { border: 2px solid red; }
	}
}

.browser-query {
	&.chrome {
		@include for-chrome  { border: 2px solid red; }
	}
	&.firefox {
		@include for-firefox { border: 2px solid red; }
	}
	&.safari {
		@include for-safari  { border: 2px solid red; }
	}
}
